<!DOCTYPE html>
<html lang="en">
<head>
	<title>Prototype I</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
	body {
	  font: 20px Montserrat, sans-serif;
	  line-height: 1.8;
	}
	p {font-size: 16px;}
	.margin {margin-bottom: 45px;}
	.bg-1 { 
	  background-color: #1abc9c; /* Green */
	  color: #ffffff;
	}
	.bg-2 { 
	  background-color: #474e5d; /* Dark Blue */
	  color: #ffffff;
	}
	.bg-3 { 
	  background-color: #ffffff; /* White */
	  color: #555555;
	}
	.bg-4 { 
	  background-color: #2f2f2f; /* Black Gray */
	  color: #fff;
	}
	.container-fluid {
	  padding-top: 70px;
	  padding-bottom: 70px;
	}
	.navbar {
	  padding-top: 15px;
	  padding-bottom: 15px;
	  border: 0;
	  border-radius: 0;
	  margin-bottom: 0;
	  font-size: 12px;
	  letter-spacing: 5px;
	}
	.navbar-nav  li a:hover {
	  color: #1abc9c !important;
	}
  </style>
</head>
<body>
	<!-- Navbar -->
	<nav class="navbar navbar-default" style="height: 80px">
        <div class="col-sm-4" >
            <a href="#" class="btn btn-info btn-lg" style="margin: 5px">
            <span class="glyphicon glyphicon-user"></span> Logged in as Steven Blind
            </a>  
        </div>
	</nav>

	<!-- First Container -->
	<div class="container bg-1" style="width: 100%; height: 100px">
        <div class="col-sm-10">
             <h2>Prototype I</h2>
             <p>Find the last position of your car</p>
        </div>
        <div class="col-sm-2" style="">
            <img src="mapicon.png" alt="map" style="height: 70px; margin: 5px">
        </div>
	</div>

	<div class="row" style="margin: 5px">
		<div class="col-sm-8">
			<h1>Map</h1>
            
			<div id="map" style="width: 100%;height: 630px;round:yellow; margin: 5px;"></div>
			
			
		</div>

		<div class="col-sm-4">
            <div class="col-xs-12" style="height:70px;"></div>
			<h1>Insert</h1>
      <h1>Registered Car VINs in the system</h1>
      <p>
        WBA1S510805J88762</br>
        WBY1Z21000V308999</br>
        WBAUD91090P381103</br>
      </p>
			<form class="form-horizontal" action="/api" id="carform">
    			<div class="form-group">
      				<!--<label class="control-label col-sm-2" for="vin">VIN: </label> -->
 
      					<div class="col-sm-10">
                  <select form="carform" class="form-control" name="vinBmw">
                    <option value="WBA1S510805J88762">Volvo</option>
                    <option value="WBY1Z21000V308999">Saab</option>
                    <option value="WBAUD91090P381103">Mercedes</option>
                  </select>
        					<input class="form-control" id="latitude" placeholder="Enter VIN" name="vinBmw">
      					</div>
    			</div>
          <button type="submit" class="btn btn-default btn-block">Submit</button>
		  </form>        
          <div class="col-xs-12" style="height:50px;"></div>
          <h1>Result</h1>
          <table class="table">
            <tbody>
              <tr>
                <td>Mileage</td>
                <td>
                    <div class="alert alert-danger">
                        <strong id="mileage"></strong> Too many km!!
                    </div>
                </td>
              </tr>
              <tr>
                <td>KPI</td>
                <td>
                    <div class="alert alert-success">
                        <strong id="kpi"></strong> You are driving properly
                    </div>

                </td>
              </tr>
              <tr>
                <td>Battery</td>
                <td>
                    <div class="progress" style="height: 50px" >
                        <div  class="progress-bar progress-bar-striped active" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width:40%">
                        <h3 style="margin: 10px" id="battery"></h3>
                        </div>
                    </div> 
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          
          </div>
	</div> 
    <footer>
        <div class="container" style="background-color: #004D40; width: 100%">
            <div class="col-sm-10" style="margin-bottom: 5px; margin-top: 5px"> 
                <p style="color: white">© Copyright 2017 Team 2 Mobility Services - All Rights Reserved</p>
            </div>
            <div class="col-sm-2" style="margin-bottom: 5px; margin-top: 10px">
             <i class="fa fa-facebook-square" style="font-size:30px; color: white; margin-left: 5px" ></i>
             <i class="fa fa-google-plus-official" style="font-size:30px; color: white; margin-left: 5px"></i>
             <i class="fa fa-linkedin-square" style="font-size:30px; color: white; margin-left: 5px"></i>
             <i class="fa fa-pinterest" style="font-size:30px; color: white; margin-left: 5px"></i>
             <i class="fa fa-twitter-square" style="font-size:30px; color: white; margin-left: 5px"></i>
            </div>
        </div>
    </footer>
    <script>

			  function initMap() {
				var latitude = -25.363;
				var longitude = 131.044;
				var myLatLng = {lat: latitude, lng: longitude};

				var map = new google.maps.Map(document.getElementById('map'), {
				  zoom: 4,
				  center: myLatLng
				});

				var marker = new google.maps.Marker({
				  position: myLatLng,
				  map: map
				});
			  }
			</script>
    <script async defer		
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvFKFLNyeslv9r5VdA86Vnu1-e-E_-HQ4&callback=initMap">;
    </script>script>
    <script>
        var mileage = 129786;
        var kpi="good";
        var battery=60;
        document.getElementById("mileage").innerHTML = mileage;
        document.getElementById("battery").innerHTML = battery + "%";
        document.querySelector(".progress-bar").style.width = battery + "%";
        document.getElementById("kpi").innerHTML = kpi;       
    </script>
</body>
</html>