.employeePanel .content_panel_column h4, .content_icon, .progress_row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.employeePanel .content_panel_column .trashIcon {
    padding-top: 10px;
}


.employeePanel .content_panel_column .content_icon {
    font-size: 1.5em;
    padding-top: 8px;
}

.employeePanel .panel {
    height: 40px;
}

.employeePanel {
  cursor: pointer;
  margin-right: 30px;
}
