div .filter_title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 0px !important;
    padding-left: 0px !important;
    border-width: 0px;
    border-color: #3B3838;
    background-color: #3B3838;
    height: 40px;
}

.filter_title-text{
   font-size: 12pt !important;
   padding: 12px;
   color: white;
}

div .icon {
    font-size: 1.8em;
    margin: 5px;
}

div .select_text {
    vertical-align: middle;
}

.col-sm-12 .filter_text {
    color: #00B0F0;
}

h4{
  font-size: 12pt;
}
