.foot {
    margin-top: 5px !important;
    background-color: #F7F7F7 !important;
    width: 100% !important;
    height: 30px !important;
}

.foot p {
    color:  black;
    font-size: 8pt;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
