div .panel_bar {
    background-color: deepskyblue;
    text-align: center;
    vertical-align: middle;
}

div .panel {
    background-color: ghostwhite;
}

div .kpi_title {
    margin-left: 45px;
}

.progress {height: 30px !important;}