.navigationSubTitle .angleIcons {
  padding-top: 9px;
  padding-left: 40px;
}

.navigationSubTitleText p {
  cursor: pointer;
}

.infoButtonSubTitle .infobuttonsymbol {
  padding-top: 10px;
  padding-left: 0px;
  margin-left: 0px;
}
