div .navigation_title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 0px !important;
    padding-left: 0px !important;
    border-width: 0px;
    border-color: #EAEAEA;
    background-color: #EAEAEA;
    height: 40px;
}

.navigation_div {
  margin-left: 0px;
  border: 0px;
  padding-left: 10px;
}

.navigation_all {
    background-color: #FCFCFC !important;
}

.navigation_title-text{
   font-size: 12pt !important;
   padding: 12px;
   color: black;
}


div .icon {
    font-size: 1.5em;
    margin: 5px;
}

div .select_text {
    vertical-align: middle;
}

.row .navigation_text {
    color: #00B0F0;
}

.row .icon {
  margin-left: 15px;
}

.hr_Row {
  margin: 10px;
  padding: 0px;
}

h4{
  font-size: 12pt;
}

h4 .select_menu {
    width: 200px;
}

.row .col-sm-11 {
  margin-left: 40px;
}

.fa-search-plus {
  margin-right: 10px;
}

.row .col-sm-2 .fa-caret-down {
  margin-left: 10px;
  padding-left: 0px;
}

.infoButtonTitle .infobuttonsymbol {
  padding-top: 13px;
  padding-left: 0px;
  margin-left: 0px;
}
