.notificationPanel .content_panel_column h4, .content_icon, .progress_row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notificationPanel  .first_content_panel_column {
    padding-top: 25px;
}

.notificationPanel .content_panel_column .content_icon {
    font-size: 2em;
    padding-top: 8px;
}

.notificationPanel img {
    height: 30px;
    margin-left: 110px;
}

.notificationPanel .panel {
    height: 90px;
}

.notificationPanel .panel_bar {
    background-color: #F8BA71;
}

.notificationPanel .icon {
    color: #F8BA71;
}


.select_text {
  cursor: pointer;
}

.moreNotifications {
  cursor: pointer;
  font-size: 10pt;
  margin-left: 0px;
  margin-top: 3px;
  margin-bottom: 5px;
  color: blue;
}

.notificationPanel {
  margin-right: 30px;
}
