.col-sm-5 .date {
    vertical-align: middle;
}

.col-sm-5 .user_name {
    vertical-align: middle;
    text-align: right;
}

.col-sm-2 .app_name {
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    color: white;
    background-color: dimgrey;
}

div .extend_app {
    background-color: dimgrey;
}

.extend_app .arrow {
    text-align: center;
    color: white;
}

.extend_app fa-chevron-down {
    margin: 0;
    font-size: 2em;
}