
* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.overviewHeader {
    font-size: 10pt;
    background-color: #EAEAEA;
}


.fleetManager-user {
  margin: 0.4em;
}


.col-sm-5 .date {
    vertical-align: middle;
    padding-top: 4px;
    margin-left: 10px;
}

.col-sm-5 .user_name {
    vertical-align: middle;
    text-align: right;
    margin-left: 10px;
}

.col-sm-2 .app_name {
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    color: white;
    background-color: #3B3838;
    font-weight: 600;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

div .extend_app {
    background-color: #3B3838;
}

.extend_app .arrow {
    text-align: center;
    color: white;
}

.extend_app fa-chevron-down {
    margin: 0;
    font-size: 2em;
}
