nav {
    height: 70px; 
    background-color:  #428bca;
}

.nav_icon i {
    font-size: 2em; 
    margin-right: 15px; 
    margin-left: 50px; 
    color: whitesmoke
}

.col-sm-3 .dropdowm {
    margin-right: 10px;
}

.dropdown .dropdown-toggle {
    background-color: #B2DFDB;
    margin: 5px;
}