.starPanel .content_panel_column h4, h3, .content_icon, .star_panel_icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.starPanel .panel {
    height: 100px;;
}


.starPanel .first_content_panel_column .content_icon {
    font-size: 1.8em;
    margin-left: 10px;
    margin-top: 10px;
    color: #00B0F0;
}

.starPanel .kpi_title {
    margin-left: 10px;
    padding-top: 10px;
}

.kpi_title {
    font-size: 12pt;
    font-weight: 800;
}

.starPanel .content_panel_column .thumb_icon {
    font-size: 1.5em;
    padding-left: 100px;
    padding-top: 40px;
}

.starPanel .content_panel_column h3 {
    padding-left: 80px;
    padding-top: 30px;
}

.starPanel .infoButton {
    position:absolute;
    margin-left: 270px;
    margin-top: 5px;
    z-index: 999;
}



.starPanel {
  margin-right: 30px;
  /* padding-left: 10px; */
}
