.infobuttonsymbol {
    color: #E6E6E6;
    font-size: 1em;
    text-decoration: none !important;
}

.infoPopover {
  z-index:9999;
  /* position: absolute; */
}


.infobutton i:hover {
    cursor: help;
    /* display: block; */
}

a:link {
  text-decoration: none !important;
}


.infobutton ReactTooltip {
  background-color: #428bca;
}
