.notificationPanel .content_panel_column h4, .content_icon, .progress_row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notificationPanel  .first_content_panel_column {
    padding-top: 15px;
}

.hourNotification{
  color: #595959;
}

.dateNotification {
  font-weight: 550;
}

.notificationPanel .content_panel_column .content_icon {
    font-size: 1em;
    padding-top: 8px;
}

.notificationPanel .progress {
  width: 230px !important;
}

.buttonEmail {
  height: 40px;
  width: 40px;
  border-radius: 20%;
  font-size: 8pt;
}

.buttonEmailDiv{
  padding-top: 25px;
}



.notificationImage {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  /* margin-left: 120px; */
  margin-left: 80px;
}

.notificationPanel img {
  width: 100%;
  height: auto;
}

.notificationPanel .panel {
    height: 90px;
}

.notificationPanel .panel_bar {
    background-color: #F8BA71;
}

.notificationPanel .icon {
    color: #F8BA71;
    font-size: 1.6em;
}


.select_text {
  cursor: pointer;
}

.moreNotifications {
  cursor: pointer;
  font-size: 10pt;
  margin-left: 0px;
  margin-top: 3px;
  margin-bottom: 5px;
  color: blue;
}

.notificationPanel {
  cursor: pointer;
  margin-right: 30px;
}

.notificationPanel .descriptionColumn h4{
  font-size: 10pt;
}
