div .appElement {
    background-color: #E0F2F1;
}

.card i {
    font-size: 10rem; 
    margin-left: 150px; 
    margin-top: 0px; 
    color: #00796B;
}

.card h4 {
    text-align: center; 
    background-color: #B2DFDB;
    padding: 0; width: inherit;
}

.card p {
    text-align: center;
}